body{
    margin: 0px;
}
h1{
    color:cyan;
}
.navbar{
    border-style: solid;
    border-width: 1px;
    border-color:aquamarine;
    padding: 20px;
    text-align: center;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color:rgb(177, 132, 5);
    font-size: 30px;
}
.navbar a:hover{
    color: orangered;
    background-color: aquamarine;
}